*{
    margin: 0;padding: 0;
}
.bordarea{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */

}
.container{

    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
    grid-template-rows: 3rem 3rem 3rem 3rem 3rem 3rem;
    grid-gap: 1rem 1rem;
    background-color: white;
    margin: auto;
    width: 30rem;
    height: 24rem;
    justify-content: center;
    border-radius: 2rem;
    align-content: center;
    position: relative;
    top: -6rem;
    box-shadow: -2px 15px 8px -2px rgb(0 0 0);
    padding-bottom: 2rem;
    z-index: 3;
  

}

.box{
   
    background-color: rgb(122 69 255);
  border: 0.3rem solid black;
 
  border-left:0.01rem solid black;
  border-right:0.01rem solid black;
  border-bottom:0.2rem solid black;
    border-radius: 50rem;

}
.bordarea{
    background-color: rgb(122 69 255);
    height: 100vh;
    width: 100vw;
 
   
}
.footer{
    width: 100%;
    height: 10rem;
    background: #3d179b;
    position: relative;
    top: -5rem;
    justify-self: baseline;
    align-self: baseline;
    border-radius: 6rem 6rem 0rem 0rem;
    z-index: 8;
    display: flex;
    justify-content: center;

}
.player{
    background-color: rgb(255 255 255);
    width: 7rem;
    height: 8rem;
  
    border-radius: 1rem;
    box-shadow: -2px 15px 8px -2px rgb(0 0 0);
    border: 0.2rem solid rgb(0, 0, 0);
    position: relative;
    /* left: 18rem; */
}
.player::after{
    content: "";
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: -2rem;
    left: 2rem;
    background: url('/home/aminul/REACTAPP/ADVISOR/src/ images/redplayer.svg') no-repeat;
}
.player2{
    background-color: rgb(255 255 255);
    width: 7rem;
    height: 8rem;
    border-radius: 1rem;
    box-shadow: -2px 15px 8px -2px rgb(0 0 0);
    border: 0.2rem solid black;
    position: relative;
    /* left: -18rem; */

}
.player2::after{
    content: "";
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: -2rem;
    left: 2rem;
    background: url('/home/aminul/REACTAPP/ADVISOR/src/ images/yelowplayer.svg') no-repeat;

}
.players{
    width: 56rem;
    position: relative;
    top: 11rem;
    justify-content: space-between;
    height: 13rem;
    display: flex;
    height: 9rem;
    /* background: red; */
    left: 16rem;
}
p{
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
 padding: 1rem 0rem;
}
span{
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
    margin-left: 3rem;
}
.menuitems{
    display: flex;
    width: 37rem;
    height: 1rem;
    justify-content: center;
    position: relative;
    left: 26rem;
    top: 0.3rem;



}
#menu{
    width: 5rem;
    border-radius: 3rem;
    border: none;
    color: white;
    background-color: #4b12da;
    font-weight: 600;
    height: 2rem;
cursor: pointer;
position: relative;
left: -12rem;
}
#menu:hover{
    background-color: #a812da;
}
#restart{
    width: 5rem;
    border-radius: 3rem;
    border: none;
    color: white;
    background-color: #4b12da;
    font-weight: 600;
    height: 2rem;
    cursor: pointer;
position: relative;
left: 10rem;
}
#restart:hover{
    background-color: #a812da;
}
.timer{
   

    width: 13rem;
    height: 12rem;
    position: relative;
    top: -4.1rem;
    left: 0 rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;


}

.redtimer{
    background: url('/home/aminul/REACTAPP/ADVISOR/src/ images/redtimer.svg')no-repeat;
    background-position: center;
   
}
.yellowtimer{
    background: url('/home/aminul/REACTAPP/ADVISOR/src/ images/yellow.svg')no-repeat;
    background-position: center;
}
.locator{
    position: relative;
    left: 38.7rem;
    top: -5.6rem;
    width: 3rem;
    height: 2rem;
}
.locator img{
    width: 1.5rem;
    height: 1.5rem;

}

.timeleft{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;

}
.timeleft >p {
    
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
    padding: 1rem 0rem;
    margin-top: -1rem;
    word-spacing: 0.3rem;
       
}
.timeleft h2{
    font-size: 4rem;
}
.scorebord{
    background: #e90336;
    width: 14rem;
    height: 7rem;
    border: 0.1rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -3rem;
    border-radius: 1rem;
    box-shadow: -2px 15px 8px -2px rgb(0 0 0);
    color: white;
    font-weight: 900;
    left: 0rem;

}
#reset{
    width: 8rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    background: linear-gradient(45deg, #260de6, #e46363);
color: white;
/* box-shadow: -2px 10px 5px -2px rgb(228, 220, 220); */
}
.pausemenu{
    background-color: #260d0d45;
/* background-color:   linear-gradient(45deg, #260de6, #e46363); */
    width: 31rem;
    height: 24rem;
    z-index: 23;
    position: relative;
    top: 4rem;
    border-radius: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: -0.4rem;


}
.menubtn{
    padding: 1rem 4rem;
    margin-top: -2rem;
    border-radius: 2rem;
    border: none;
    background: pink;
    color: white;
    font-size: 1rem;
    margin-top: 2rem;

}
#continue{
    background-color: #0689f3;
}
#menureset{
    background-color: #f3002a;
}
#newgame{
    background-color: #27dd41;
}
.homepage{
    background-color: green;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(45deg, #2633b5, #29e9e5,#4ee4fc4a);

}
.homepage::after{
    content: "";
    width: 50%;
    height: 100%;
    background-color: red;
    position: absolute;
    left: 0rem;
    /* transform: skewX(50deg); */

}
.homepage::before{
    content: "";
    width: 50%;
    height: 100%;
    background-color: rgba(219, 15, 234, 0.749);
    position: absolute;
    right: 0rem;
    /* transform: skewX(50deg); */

}
.homemenu{
    width: 25rem;
    height: 24rem;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    background: linear-gradient(45deg, #e805cc, #54ddda,#320be2e0);
    background-image: url('/home/aminul/REACTAPP/ADVISOR/src/ images/board-layer-white-small.svg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 23;
}
/* .homemenu::after{
    content: "";
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: red;
} */
.gamemode{
    width: 16rem;
    height: 3rem;
    border: none;
    margin: 1rem 1rem;
    border-radius: 2rem;
    box-shadow: 1px 6px 2px 0px #050505;
    background: #424bf3;
    color: white;

}
@media screen and (max-width:1200px) {

.locator{
    display: none;
}



}